h1 {
  color: white; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/images/camera-5113699_1920.jpg"); }

#wrapper-brackground {
  width: 460px;
  background-color: #F8F4F4; }

#wrapper-formulario {
  width: 296px;
  margin: 0 auto; }

h4, h5 {
  color: #7C8931; }

.casillas {
  padding: 10px 85px 13px 10px;
  margin-bottom: 10px;
  background-color: #E9E8E8;
  color: #727272; }

.gender-back {
  width: 87px;
  padding: 10px;
  color: white;
  background-color: #7C8931;
  border-radius: 5px;
  float: left;
  margin-right: 15px;
  margin-bottom: 20px; }

.paypal, .visa {
  width: 140px;
  padding: 7px;
  color: white;
  background-color: #7C8931;
  border-radius: 5px;
  float: left;
  margin-bottom: 15px; }

.visa img {
  width: 25px;
  height: 14px; }

.paypal img {
  width: 25px;
  height: 14px; }

.terms-text {
  font-size: 13px;
  color: #727272; }

.sing-up button {
  width: 95px;
  height: 36px;
  color: white;
  background-color: #7C8931; }
