//Gender
.gender-back{
  width: 87px;
  padding: 10px;
  color: white;
  background-color: #7C8931;
  border-radius: 5px;
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
}


//Payments

.paypal, .visa{
  width: 140px;
  padding: 7px;
  color: white;
  background-color: #7C8931;
  border-radius: 5px;
  float: left;
  margin-bottom: 15px;
}
.visa img{
  width: 25px;
  height: 14px;
}

.paypal img{
  width: 25px;
  height: 14px;
}


//Terminos
.terms-text{
  font-size: 13px;
  color: #727272;
}



.sing-up button{
  width: 95px;
  height: 36px;
  color: white;
  background-color: #7C8931;
}
